

# ignore git ingore, launch and  hintrc files
.hintrc
.gitignore
.vscode*

# ignore all files inside SecretTokenCodes
SecretTokenCodes*
Secret*
# ignore all zip files
Zip-Files*
# ignore all files inside Hidden
Hidden*
# ignore all output files
!.gitKeep
output/*