:root {
    --Btn: rgb(63, 76, 96);
    --Btn_hover: rgb(34, 48, 89);
    --Btn_active: rgb(15, 34, 94);
    --Text-color: lightgray;
    --bg-color: rgb(12, 17, 24);
    --Input-color: rgb(40, 53, 75);
    --table-color: var(----Input-color);
}
body {
    background-color: var(--bg-color);
    color: var(--Text-color);
    
    margin-bottom: 15px;
    margin-right: 5px;
    overflow: hidden;
    transition: height 0.6s ease;
}
body::after {
    content: "";
    display: block;
    height: 40px; /* Height of the footer */
}
#Pagetitle {
    margin-right: 40px;
}
.Btn {
    background-color: var(--bg-color);
    color: var(--Text-color);
    border: 1px solid var(--Btn);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Btn:hover {
    background-color: var(--Btn_hover);
}
.Btn:active:not(:disabled) {
    background-color: var(--Btn_active);
    transition: none;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.HDRSS {
    opacity: 0;
    position: absolute;
    top: 50px;
    width: 98vw;
    overflow: scroll;
    height: 500px;
}
#HDRSSBtn {
    display: flex;
    width: 100%;
}
#HDClassicBtn {
    display: flex;
    width: 100%;
}
.active {
    background-color: var(--Btn_active);
}
footer {
    position: fixed;
    bottom: 0;
    width: 98vw;
    height: 40px;
    background-color: var(--bg-color);
    border-top: 1px solid #ccc;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.fullpage-btn {
    position: absolute;
    right: 0;
}
#ParentPreview{
    max-width: 10000px;
    overflow-x: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-color);
    table-layout: auto;
}

td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 0;
}
th {
    background-color: var(--Input-color);
    border: 1px solid #d1d5db;
    font-weight: bold;
    padding: 8px;
    width: fit-content;
}
input[type=number],
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}
input.autoInput,
select.autoInput {
    width: auto;
    height: inherit;
    overflow: hidden;
    border: none;
    box-sizing: border-box;
    padding: 2px;
    font-size: 14px;
    list-style: none;
    text-align: center;
    scroll-behavior: smooth;
    outline: none;
    outline-width: 0;
    outline-color: var(--Text-color);
    color: var(--Text-color);
    background-image: none;
    background-color: var(--bg-color);
}
#chapter {
    min-width: 75px;
}
#url {
    max-width: 40px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    color: var(--Text-color);
    background-color: var(--bg-color);
}

#openSettings {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

#openSettings .icon {
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

#openSettings:hover .icon {
    opacity: 1;
}

#spreadsheetPrompt {
    display:none;
}

#statusSheetURL, 
#statusSaveDefaultInput,
#statusSaveDefaultInputInputTextMenu {
    color: green;
}

#HDRSS-subscribe-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 5px;
}
#title_HDRSS {
    width: max-content;
    flex: 1;
    cursor: text;
}
#Type_HDRSS {
}
.HDRSS_Input {
    background-color: var(--bg-color);
    color: var(--Text-color);
    border: 1px solid var(--Btn);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;

    font-size: 14px;
    list-style: none;
    text-align: center;
    scroll-behavior: smooth;
}
.RSS-Notification-item {
    border: 1px solid var(--Btn);
    background-color: var(--bg-color);
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    flex: content;
    align-items: center;
    flex-direction: column;
    color: var(--Text-color);
    transition: background-color 0.3s ease;
    height: 40px;
}
.RSS-Notification-item:hover {
    background-color: var(--Btn_hover);
    cursor: pointer;
}
#RSS-Notification {
    overflow: scroll;
    width: 100%;
}
.RSS-Notification-item-footer {
    font-size: 12px;
    color: gray;
    margin-top: -8px;
}
.RSS-Notification-item-image {
	width: 40px;
	height: 40px;
	object-fit: fill;
	border-radius: 50%;
	padding: 2px;
    position: absolute;
    left: 5px;
    padding-top: 15px;
    margin: 0;
}
.RSS-Notification-item-info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
}
.RSS-Notification-item-title {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.RSS-Notification-item-chapter {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.RSS-Notification-item-progress {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    position: absolute;
}
#subscribeBtn {
    float: right;
}
#subscribeBtn:disabled {
    cursor:not-allowed;

}
/* --- footer --- */
#clear-notifications {
    height: 100%;
    padding: 0 15px;
}
#openFullPageRSS {
    height: 100%;
    padding: 0 15px;
}
#RSS-latest-sync-div {
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}
#RSS-sync-Manual {
    height: 100%;
    padding: 0 15px;
}
#version {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}
/* --- context-menu --- */

.custom-context-menu {
    position: sticky;
    background: #222;
    color: white;
    border-radius: 8px;
    padding: 4px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    z-index: 10000;
    min-width: 180px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-self: center;
    width: fit-content;
    flex-flow: column;
    border: 1px solid #555;
}
.context-menu-item-container {
    width: 100%;
}
.menu-item {
    padding: 8px 12px;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.menu-item:hover {
    background: #444;
}

.menu-separator {
    height: 1px;
    background: #555;
    margin: 4px 0;
    width: 100%;
}
