:root {
    --Btn: rgb(63, 76, 96);
    --Btn_hover: rgb(34, 48, 89);
    --Text-color: lightgray;
    --bg-color: rgb(12, 17, 24);
    --Input-color: rgb(40, 53, 75);
    --table-color: var(----Input-color);

    --old_Light_bg-color: #f9fafb;
    --old_Light_table-color: #f3f4f6;
    --old_Light_Text-color: #111827;
    --old_Light_Input-color: #fff;
}
[data-theme="dark"] {
    --old_Dark_bg-color: rgb(50,50,52);
    --old_Dark_table-color: #8f8f8f70;
    --old_Dark_Input-color: rgb(72,72,72);

    --Btn: rgb(63, 76, 96);
    --Btn_hover: rgb(34, 48, 89);
    --Text-color: lightgray;
    --bg-color: rgb(12, 17, 24);
    --Input-color: rgb(40, 53, 75);
    --table-color: var(----Input-color);
}
body {
    background-color: var(--bg-color);
    color: var(--Text-color);
    
    margin-bottom: 15px;
    margin-right: 5px;
}
.Btn {
    background-color: var(--bg-color);
    color: var(--Text-color);
    border: 1px solid var(--Btn);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Btn:hover {
    background-color: var(--Btn_hover);
}
.fullpage-btn {
    position: absolute;
    bottom: 15px;
    right: 0;
}
#ParentPreview{
    max-width: 10000px;
    overflow-x: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-color);
    table-layout: auto;
}

td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 0;
}
th {
    background-color: var(--Input-color);
    border: 1px solid #d1d5db;
    font-weight: bold;
    padding: 8px;
    width: fit-content;
}
input[type=number],
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}
input.autoInput,
select.autoInput {
    width: auto;
    height: inherit;
    overflow: hidden;
    border: none;
    box-sizing: border-box;
    padding: 2px;
    font-size: 14px;
    list-style: none;
    text-align: center;
    scroll-behavior: smooth;
    outline: none;
    outline-width: 0;
    outline-color: var(--Text-color);
    color: var(--Text-color);
    background-image: none;
    background-color: var(--bg-color);
}
#chapter {
    min-width: 75px;
}
#url {
    max-width: 40px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    color: var(--Text-color);
    background-color: var(--bg-color);
}

#openSettings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
}

#openSettings .icon {
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

#openSettings:hover .icon {
    opacity: 1;
}

#spreadsheetPrompt {
    display:none;
}

#statusSheetURL, 
#statusSaveDefaultInput,
#statusSaveDefaultInputInputTextMenu {
    color: green;
}