:root {
    --Btn: rgb(63, 76, 96);
    --Btn_hover: rgb(34, 48, 89);
    --Btn_active: rgb(15, 34, 94);
    --Text-color: lightgray;

    --Btn_hover_danger: rgb(255, 0, 0);
    --Btn_hover_success: rgb(0, 255, 0);
    --Btn_hover_Cancel: rgb(255, 217, 0);

    --bg-color: rgb(12, 17, 24);

    --Input-color: rgb(40, 53, 75);
    --Input-colorV2: rgb(32, 39, 51);

    --table-color: var(----Input-color);

    --Btn_disabled: rgb(120, 120, 120);
    --bg_disabled: rgb(24, 28, 36);

    --hr: #555
}

body {
	background-color: var(--bg-color);
	color: var(--Text-color);
	/* margin-bottom: 15px; */
	/* margin-right: 5px; */
    /*width: minmax(360px, 400px, 700px);*/
	transition: height 0.6s ease;
}
/* --- buttons --- */

.Btn {
    background-color: var(--bg-color);
    color: var(--Text-color);
    border: 1px solid var(--Btn);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Btn:hover {
    background-color: var(--Btn_hover);
}
.Btn:active:not(:disabled) {
    background-color: var(--Btn_active);
    transition: none;
}

.active {
    background-color: var(--Btn_active);
}

/* --- custom context-menu --- */

.custom-context-menu {
    position: sticky;
    background: #222;
    color: white;
    border-radius: 8px;
    padding: 4px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    z-index: 10000;
    min-width: 180px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-self: center;
    width: fit-content;
    flex-flow: column;
    border: 1px solid #555;
}
.context-menu-item-container {
    width: 100%;
}
.menu-item {
    padding: 8px 12px;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.menu-item:hover {
    background: #444;
}

.menu-separator {
    height: 1px;
    background: #555;
    margin: 4px 0;
    width: 100%;
}


/* generic prompt or confirm */

.promptSection {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 98vw;
    overflow: scroll;
    height: 500px;
    z-index: 1000;
}

.genericInput {
    display: none;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: var(--Input-colorV2);
    color: var(--Text-color);
    outline-color: var(--Btn);
    text-emphasis-color: var(--Btn);
    accent-color: var(--Text-color);
    border: 1px solid var(--Btn);
    border-right: none;
    border-radius: 0;
}
.genericInput:focus {
    outline: 1px invert var(--Btn);
}
.genericLabel {
    display: none;
    background-color: var(--bg-color);
    color: var(--Text-color);
}
.genericButton1 {
    display: none;
    background-color: var(--bg-color);
    color: var(--Text-color);
}
.genericButton2 {
    display: none;
    background-color: var(--bg-color);
    color: var(--Text-color);
}